<div id="c81" class="">
    <h3>News date menu</h3>
    <div class="news">
       <div class="news-menu-view news-menu-view__accordion">
           <ul class="list-group news-menu-view__year">
                <li class="list-group-item collapsed" data-toggle="collapse" data-target="#news-menu-view__collapse-2016">
                    <a data-toggle="collapse" data-target="#news-menu-view__collapse-2016">2016 <span class="news-menu-view__button"></span> </a>
                </li>
                <ul id="news-menu-view__collapse-2016" class="collapse list-group-item__month ">
                    <li class="list-group-item item">
                        <a href="/content/plugins/news/list/date/2016/04/">April 2016</a>
                    </li>
                </ul>
                <li class="list-group-item collapsed" data-toggle="collapse" data-target="#news-menu-view__collapse-2015">
                    <a data-toggle="collapse" data-target="#news-menu-view__collapse-2015">2015 <span class="news-menu-view__button"></span> </a>
                </li>
                <ul id="news-menu-view__collapse-2015" class="collapse list-group-item__month last">
                    <li class="list-group-item item">
                        <a href="/content/plugins/news/list/date/2015/10/">October 2015</a>
                    </li>
                    <li class="list-group-item item">
                        <a href="/content/plugins/news/list/date/2015/09/">September 2015</a>
                    </li>
                    <li class="list-group-item item">
                        <a href="/content/plugins/news/list/date/2015/07/">July 2015</a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</div>
<div id="c83">
    <h3>Category list</h3>
    <div class="news">
        <ul class="news-category__wrap list-group">
            <li data-toggle="collapse" data-target="#collapse-10" class="list-group-item topCategory collapsed">
                <a>First<span class="news-menu-view__button"></span></a>
            </li>
            <ul id="collapse-10" class="collapse list-group news-category__child-category">
                <ul class="list-group">
                    <li class="list-group-item item">
                        <a title="Second" href="/content/plugins/news/list/category/technology/">Second</a>
                    </li>
                    <ul class="list-group">
                        <li class="list-group-item item">
                            <a title="Third" href="/content/plugins/news/list/category/hello-world/">Third</a>
                        </li>
                    </ul>
                </ul>
            </ul>
            <li data-toggle="collapse" data-target="#collapse-6" class="list-group-item topCategory collapsed">
                <a>Research<span class="news-menu-view__button"></span></a>
            </li>
            <ul id="collapse-6" class="collapse list-group news-category__child-category">
                <ul class="list-group">
                    <li class="list-group-item item">
                        <a title="Ipsum" href="/content/plugins/news/list/category/scoobie/">Lorem</a>
                    </li>
                </ul>
            </ul>
        </ul>
    </div>
</div>
<div id="c82" class="">
    <h3>News tag menu</h3>
    <div class="news">
        <ul class="news-tags">
            <li><a title="Tag Ipsum" href="/content/plugins/news/list/tag/tag-ipsum/">Tag Ipsum</a></li>
            <li><a title="Tag Lorem" href="/content/plugins/news/list/tag/tag-lorem/">Dolor sit</a></li>
            <li><a title="Tag Ipsum" href="/content/plugins/news/list/tag/tag-ipsum/">Vis dicam </a></li>
            <li><a title="Tag Lorem" href="/content/plugins/news/list/tag/tag-lorem/">Dolor </a></li>
            <li><a title="Tag Ipsum" href="/content/plugins/news/list/tag/tag-ipsum/"> dicam </a></li>
            <li><a title="Tag Lorem" href="/content/plugins/news/list/tag/tag-lorem/">Dolor sit</a></li>
            <li><a title="Tag Ipsum" href="/content/plugins/news/list/tag/tag-ipsum/">Ipsum dicam </a></li>
            <li><a  class="active" title="Tag Ipsum" href="/content/plugins/news/list/tag/tag-ipsum/">Odio dicunt</a></li>
        </ul>
    </div>
</div>
