---
#layout: default.hbs #by default it is default.hbs, but you can specify another one
title: News single view  #title in menu
position: 2 #position in menu
hideInMenu: false #if true, will be hidden in menu
hideInBreadcrumbs: false #if true, will be hidden in breadcrumbs
externalLink: false #just add link (http://link.com) instead of "false" to use this page like a link to external page.
---

{{> breadcrumbs}}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {{> subNavigation}}
        </div>
        <div class="col-md-9">
            <div id="c79" class="">
                <div class="news news-single">
                    <div class="article" itemscope="itemscope" itemtype="http://schema.org/Article">
                        <div class="news-single__topmedia">
                            <img src="images/foto1.jpg" width="773" height="580" alt="Foto 1 alternative text" title="Foto 1 title">
                            <p class="news-img-caption">
                                This is Öresundsbron, the bridge between Sweden and Denmark.
                            </p>
                        </div>
                        <div class="news-article">
                            <!-- author -->
                            <div class="news-list-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                                created by <span itemprop="name">John Doe</span>
                            </div>
                            <div class="news-list-date">
                                Published:
                                <time datetime="2015-10-06">
                                    10/06/2015
                                    <meta itemprop="datePublished" content="2015-10-06">
                                </time>
                            </div>
                            <!-- Tags -->
                            <ul class="single-news-tags" itemprop="keywords">
                                <li>
                                    Tag Ipsum
                                </li>
                            </ul>
                        </div>
                        <div class="news-article-header">
                            <h3 itemprop="headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                        </div>
                        <!-- teaser -->
                        <div class="teaser-text" itemprop="description">
                            <p>Ut ullamcorper tincidunt ligula eu mollis. Proin tristique scelerisque lobortis. </p>
                        </div>
                        <!-- main text -->
                        <div class="news-text-wrap" itemprop="articleBody">
                            <p>Nam id dignissim libero. Donec tempus enim sit amet interdum elementum. In suscipit faucibus pretium. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque in euismod magna, feugiat dapibus ante. Nulla efficitur tempor molestie. In vel ex orci. Nullam velit ex, tempus eu velit non, condimentum vulputate massa. Phasellus eu tortor venenatis, volutpat turpis eget, gravida tellus. Ut iaculis, metus vitae tempor dignissim, orci augue dapibus sapien, sed aliquet arcu ligula in lacus.
                            </p>
                            <p> Suspendisse tempus maximus hendrerit. Praesent finibus, dolor ut sagittis lobortis, lacus orci interdum ex, at congue justo ante eget arcu. Duis congue vestibulum lectus, et ornare lorem bibendum vel. Nunc tristique porttitor sodales. Phasellus nibh dui, tincidunt eget massa id, suscipit venenatis ex. Curabitur vel erat eros. Quisque dapibus urna vel mauris convallis aliquam. Duis faucibus ex dictum, ullamcorper eros at, auctor mauris. Pellentesque tristique nulla sed leo mattis, ut aliquet neque blandit. Praesent blandit elementum velit, non ultrices lectus dictum non. Nunc porttitor tempus lacus et lacinia.
                            </p>
                            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce consectetur nulla ut dolor tincidunt, at auctor nisi faucibus. Etiam sit amet mauris nec urna tristique tempus ut sit amet lacus. Suspendisse potenti. Pellentesque condimentum sed sem eu tempus. Cras at ipsum porta, semper lectus id, sodales massa. Nam dictum magna sed metus ullamcorper, vitae bibendum urna efficitur. Ut egestas ante ante, at efficitur nisi mollis sed. Sed dui sapien, pulvinar in nunc id, facilisis venenatis tort</p>
                        </div>
                        <!-- related things -->
                        <div class="news-related-wrap">
                            <!-- Related news records -->
                            <div class="news-related-single news-related-news-single">
                                <h4>
                                    Related news
                                </h4>
                                <ul>
                                    <li>
                                        <span class="news-related-news-date">10/06/2015</span>
                                        <a title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 1)" href="#">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. (copy 1)
                                        </a>
                                    </li>
                                    <li>
                                        <span class="news-related-news-date">09/15/2015</span>
                                        <a title="Nullam sagittis condimentum est quis malesuada." href="#">
                                            Nullam sagittis condimentum est quis malesuada.
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- FAL related files -->
                            <div class="news-related-single news-related-single-files">
                                <h4>
                                    Related files
                                </h4>
                                <ul>
                                    <li>
                                        <span class="news-related-files-link">
                                            <a href="#" class="download-link basic-class jpg">
                                                Some cool image file
                                            </a>
                                        </span>
                                        <span class="news-related-files-size">
                                            58 KB
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <!-- Related links -->
                            <div class="news-related-single news-related-links">
                                <h4>
                                    Related links
                                </h4>
                                <ul>
                                    <li>
                                        <a title="Google" href="http://www.google.se">Google</a>
                                        <span>nice site</span>
                                    </li>
                                    <li>
                                        <a title="Pixelant" href="http://www.pixelant.se">Pixelant</a>
                                        <span>Lorem ipsum </span>
                                    </li>
                                </ul>
                            </div>
                            <!-- grouping videos and images add specific columns depending on amount of items-->
                            <div class="news-single-media">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Images</h4>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mediaelement mediaelement-image">
                                            <a href="images/foto1.jpg" title="Foto 1 title" class="{$styles.content.imgtext.linkWrap.lightboxCssClass}" rel="lightbox[myImageSet]">
                                                <img title="Foto 1 title" alt="Foto 1 alternative text" src="images/foto1.jpg" width="282" height="212">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mediaelement mediaelement-image">
                                            <a href="images/foto1.jpg" title="" class="{$styles.content.imgtext.linkWrap.lightboxCssClass}" rel="lightbox[myImageSet]">
                                                <img src="images/foto1.jpg" width="282" height="212" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mediaelement mediaelement-image">
                                            <a href="images/foto1.jpg" title="" class="{$styles.content.imgtext.linkWrap.lightboxCssClass}" rel="lightbox[myImageSet]">
                                                <img src="images/foto1.jpg" width="282" height="212" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
